@model decimal

<div class="row no-gutters m-3">
    <div class="card col mx-auto shadow">
        <div class="card-header text-center">
            <h3 class="m-0">Here's Your Quote!</h3>
        </div>
        <div class="card-body text-center">
            <h3>$@Model</h3>
        </div>
    </div>
</div>




